
<footer class="">    
  <div class="container">
    <div class="row mb-12">
      <div class="col-lg-4 col-md-4 mb-3 mb-md-3">
        <div class="mb-4">
          <h2 class="text-white">About Us</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <ul class="float-md-left float-lft mt-2">
            <li>A asdsd</li>
            <li>dsçlkdsdk</li>      
          </ul>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 mb-3 mb-md-3">
         <div class="mb-4 ml-md-4">
          <h2 class="text-white">Services</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Cooked</a></li>
            <li><a href="#" class="py-2 d-block">Deliver</a></li>
            <li><a href="#" class="py-2 d-block">Quality Foods</a></li>
            <li><a href="#" class="py-2 d-block">Mixed</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mb-3 mb-md-3">
        <div class="mb-4">
            <h2 class="text-white">Have a Questions?</h2>
            <div class="mb-3">
              <ul>
                <li>203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li><span>Telefone </span></li>
                <li>info@yourdomain.com</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center text-white">
          Desevoldivo por diego
      </div>
    </div>
  </div>
</footer>