<nav class="navbar navbar-expand-lg ftco_navbar" id="ftco-navbar">
    <div class="container">
          <a class="navbar-brand" href="{% url 'produto:lista'%}"><span class=""><div class="nav-logo">Pizza<br>Delicous</div></span></a>
          <button class="navbar-toggler nav-font" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-font" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Conta
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item " href="#">Login</a>
              <a class="dropdown-item" href="#">Cadastro</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Contato</a>
            </div>
            </li>
          <li>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 nav-font" type="submit">Buscar</button>
            </form>     
          </li>               
          <li class="nav-item"><a href="menu.html" class="nav-link nav-font">Cardápio</a></li>
          <li class="nav-item"><a href="services.html" class="nav-link nav-font">Pedidos</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link nav-font">Sobre</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link nav-font">Contato</a></li>
        </ul>
      </div>
      </div>
  </nav>