{% load static %}
{% load bootstrap4%}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/custom_styles.css'%}">

  </head>
  <body">
	{% block nav %}
  		{% include 'parciais/nav.html'%}
	{% endblock %}
  
  {% block container %}    
  {% endblock %}

  {% block footer %}
    {% include 'parciais/footer.html'%}
  {% endblock %}

  
  


  {% bootstrap_javascript jquery='full'%}

    
  </body>
</html>