{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis/css?family=Source+Sans+Pro:400" rel="stylesheet">
	<!--{% bootstrap_css %}-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>{% block title %}{% endblock title 	%}</title>
</head>
<body>

	{% block header %}
		{% include 'parciais/_header.html'%}
	{% endblock header %}

	<div class="container border">
		{% block content %}
		{% endblock content %}
	</div>
	

	{% block footer%}
		{% include 'parciais/_footer.html' %}
	{% endblock footer%}

	
	{% bootstrap_javascript jquery='full' %}


</body>
</html>

