{% load static %}
{% load bootstrap4 %}


<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock title 	%}</title>
		{% bootstrap_css%}
		<link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
		<script src="https://kit.fontawesome.com/c9c9868fe9.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container-fluid">
			
			<!--bloco nav-->
			{% block nav %}			
				{% include 'parciais/_nav.html'%}			
			{% endblock nav %}
			<!--endblok nav-->

			<!--bloco header-->
			{% block header %}			
				{% include 'parciais/_header.html'%}
			{% endblock header%}
			<!--endblock header-->
			
			<!--bloco conteudo-->
			{% block content %}
				{% include 'parciais/_content.html'%}					
			{% endblock content %}
			<!--enfblock conteudo-->		
			
			
			<!--bloco footer-->
			{% block footer %}			
				{% include 'parciais/_footer.html' %}			
			{% endblock footer %}	
			<!--endblock footer-->				
			
			
		</div>
		{% bootstrap_javascript jquery='full' %}		
	</body>
</html>

